<div class="navbar-main">
    <div class="bg-logo"></div>
    <div class="logo">
        <a href="/">
            <i class="fa fa-spotify" style="font-size:40px"></i>
            <p class="name-logo">Muzify</p>
        </a>
    </div>
    <div class="right-side">
        <div class="auth-user">
            <div class="user-pic">
                <img src="/images/{{user.firstName}}.jpg" alt="">
            </div>
            <a href="../artist/{{user.id}}">
            <div class="user-info">
                <h3>{{user.firstName}} {{user.lastName}}</h3>
            </div>
            </a>
        </div>
        <div class="log_reg">
            <form class="button" action="/logout" method="post">
                <div class="account">
                    <button type="submit" class="logout">Logout</button>
                </div>
            </form>
        </div>
    </div>
</div>
