<div class="navbar">
    <div class="logo">
        <a href="/reader">
            <i class="fa fa-spotify" style="font-size:40px"></i>
            <p class="name-logo">Muzify</p>
            </a>
    </div>
    <div class="right-side">
        <ul>
            <li>
                <a href="#">Premium</a>
            </li>
            <li>
                <a href="#">Support</a>
            </li>
            <li>
                <a href="#">Download</a>
            </li>
        </ul>
        <div class="log_reg">
            <form class="button" action="/register" method="post">
                <div class="account">
                    <button type="submit" class="logout">Register</button>
                </div>
            </form>
            <form class="button" action="/logout" method="post">
                <div class="account">
                    <button type="submit" class="logout">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>